*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.logo{
    width: 200px;
    padding-top: 20px;
    
    

}

.pattern{
    background-image: url(pattern.png);
    background-size: 300px;
    background-color: rgb(78, 160, 255);
    
}

.title{
    margin-top: 10px;
}

.booleaners{
    color: cyan;
}

.writer{
    color: grey;
}


.data{
    font-size: 10px;
    color: grey;
    margin: 0;
}

.tim-image{
    margin-top: 20px;
}

.image-description{
    font-size: 12px;
}

.paragraph-1{
    margin-top: 20px;
}

.yellow-background{
    background-color: yellow;
}

.list{
    margin-top: 40px;;
    margin-left: 20px;
}

table{
    margin-top: 40px;
    table-layout: fixed;
    width: 100%;
}

.third-column{
    width: 70%;
}

tr{
    text-align: left;
}

thead{
    background-color: rgb(32, 169, 229);
    color: white;
}

.colored-row{
    background-color: rgb(177, 229, 242)
}

.paragraph-2{
    margin-top: 40px;
}

.advisor{
    margin-top: 30px;
    color: grey;
}




